<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="mysql">
            <directory>./tests</directory>
            <exclude>./tests/pgsql</exclude>
        </testsuite>
        <testsuite name="postgres">
            <directory>./tests</directory>
            <exclude>./tests/mysql</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="Tests\MySQLTestListener" file="./tests/MySQLTestListener.php" />
        <listener class="Tests\PostgresTestListener"  file="./tests/PostgresTestListener.php" />
    </listeners>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
    </php>
</phpunit>